# 1. Dependecies and Datapreprocessing

In [1]:
!pip install tensorflow-gpu tensorflow stable-baselines3 gym-anytrading gym finta

Requirement already satisfied: tensorflow-gpu in c:\python_work\lib\site-packages (2.8.0)
Requirement already satisfied: tensorflow in c:\python_work\lib\site-packages (2.8.0)
Requirement already satisfied: stable-baselines3 in c:\python_work\lib\site-packages (1.4.0)
Requirement already satisfied: gym-anytrading in c:\python_work\lib\site-packages (1.2.0)
Requirement already satisfied: gym in c:\python_work\lib\site-packages (0.19.0)
Requirement already satisfied: finta in c:\python_work\lib\site-packages (1.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\python_work\lib\site-packages (from tensorflow-gpu) (0.24.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\python_work\lib\site-packages (from tensorflow-gpu) (0.2.0)
Requirement already satisfied: absl-py>=0.4.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (0.12.0)
Requirement already satisfied: h5py>=2.9.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (3.1.0)
Requirement already satisfied: tf-estimator-nightly==2.8.0.dev2021122109 in c:\python_work\lib\site-packages (from tensorflow-gpu) (2.8.0.dev2021122109)
Requirement already satisfied: keras-preprocessing>=1.1.1 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\python_work\lib\site-packages (from tensorflow-gpu) (3.7.4.3)
Requirement already satisfied: tensorboard<2.9,>=2.8 in c:\python_work\lib\site-packages (from tensorflow-gpu) (2.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\python_work\lib\site-packages (from tensorflow-gpu) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.6.3)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (2.8.0)
Requirement already satisfied: libclang>=9.0.1 in c:\python_work\lib\site-packages (from tensorflow-gpu) (13.0.0)
Requirement already satisfied: protobuf>=3.9.2 in c:\python_work\lib\site-packages (from tensorflow-gpu) (3.15.8)
Requirement already satisfied: wrapt>=1.11.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.12.1)
Requirement already satisfied: flatbuffers>=1.12 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.12)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.41.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.1.0)
Requirement already satisfied: gast>=0.2.1 in c:\python_work\lib\site-packages (from tensorflow-gpu) (0.4.0)
Requirement already satisfied: setuptools in c:\python_work\lib\site-packages (from tensorflow-gpu) (49.2.1)
Requirement already satisfied: six>=1.12.0 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.15.0)
Requirement already satisfied: numpy>=1.20 in c:\python_work\lib\site-packages (from tensorflow-gpu) (1.22.2)
Requirement already satisfied: matplotlib in c:\python_work\lib\site-packages (from stable-baselines3) (3.4.2)
Requirement already satisfied: pandas in c:\python_work\lib\site-packages (from stable-baselines3) (1.2.4)
Requirement already satisfied: cloudpickle in c:\python_work\lib\site-packages (from stable-baselines3) (1.6.0)
Requirement already satisfied: torch>=1.8.1 in c:\python_work\lib\site-packages (from stable-baselines3) (1.10.2)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\python_work\lib\site-packages (from astunparse>=1.6.0->tensorflow-gpu) (0.36.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python_work\lib\site-packages (from matplotlib->stable-baselines3) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\python_work\lib\site-packages (from matplotlib->stable-baselines3) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\python_work\lib\site-packages (from matplotlib->stable-baselines3) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\python_work\lib\site-packages (from matplotlib->stable-baselines3) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\python_work\lib\site-packages (from matplotlib->stable-baselines3) (2.4.7)
Requirement already satisfied: pytz>=2017.3 in c:\python_work\lib\site-packages (from pandas->stable-baselines3) (2019.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (2.22.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (1.30.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (0.6.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (1.8.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (0.16.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (0.4.4)
Requirement already satisfied: markdown>=2.6.8 in c:\python_work\lib\site-packages (from tensorboard<2.9,>=2.8->tensorflow-gpu) (3.3.4)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\python_work\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow-gpu) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\python_work\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow-gpu) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\python_work\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow-gpu) (4.2.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\python_work\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow-gpu) (1.3.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\python_work\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow-gpu) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\python_work\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow-gpu) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\python_work\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow-gpu) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python_work\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow-gpu) (1.25.7)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\python_work\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow-gpu) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\python_work\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow-gpu) (3.1.0)

WARNING: Ignoring invalid distribution -illow (c:\python_work\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\python_work\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\python_work\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\python_work\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\python_work\lib\site-packages)

In [2]:
# Gym
import gym
import gym_anytrading

# Stable baselines
from stable_baselines3.common.vec_env import DummyVecEnv
from stable_baselines3 import A2C
# Processing libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
#custom Indicator
from gym_anytrading.envs import StocksEnv
from finta import TA

C:\python_work\lib\site-packages\setuptools\distutils_patch.py:25: UserWarning: Distutils was imported before Setuptools. This usage is discouraged and may exhibit undesirable behaviors or errors. Please use Setuptools' objects directly or at least import Setuptools first.
  warnings.warn(

In [3]:
df = pd.read_csv("data/BTC_USDT.csv")

In [4]:
df.head()

                  date      Open      High       Low     Close      volume
0  2022-02-04 00:00:00  37311.98  37343.77  37174.33  37204.94   582.36530
1  2022-02-03 23:00:00  36933.16  37387.00  36865.49  37311.61  1386.22097
2  2022-02-03 22:00:00  36949.00  37016.42  36800.01  36933.16   705.28717
3  2022-02-03 21:00:00  36367.43  37050.00  36357.87  36948.99  1911.35564
4  2022-02-03 20:00:00  36551.71  36644.05  36270.00  36367.40  1199.79905

In [5]:
df["date"] = pd.to_datetime(df["date"])

In [6]:
df.set_index("date", inplace=True)

In [7]:
df.head()

                         Open      High       Low     Close      volume
date
2022-02-04 00:00:00  37311.98  37343.77  37174.33  37204.94   582.36530
2022-02-03 23:00:00  36933.16  37387.00  36865.49  37311.61  1386.22097
2022-02-03 22:00:00  36949.00  37016.42  36800.01  36933.16   705.28717
2022-02-03 21:00:00  36367.43  37050.00  36357.87  36948.99  1911.35564
2022-02-03 20:00:00  36551.71  36644.05  36270.00  36367.40  1199.79905

In [8]:
df = df.rename(columns={"volume":"Volume"})

In [11]:
df = df.sort_index()

In [12]:
df.head()

                         Open      High      Low    Close   Volume
date
2017-08-17 04:00:00  16199.91  16199.91  4261.32  4308.83  44.5100
2017-08-17 05:00:00   4308.83   4328.69  4291.37  4315.32  23.2300
2017-08-17 06:00:00   4315.32   4345.45  4309.37  4324.35   7.2300
2017-08-17 07:00:00   4324.35   4349.99  4287.41  4349.99   4.4400
2017-08-17 08:00:00   4349.99   4377.85  4333.32  4360.69   0.9499

# 2. Custom indicator

In [13]:
df["RSI"] = TA.RSI(df)
df["VWAP"] = TA.VWAP(df)

In [15]:
df.head(30)

,Open,High,Low,Close,Volume,RSI,VWAP
date,,,,,,,
2017-08-17 04:00:00,16199.91,16199.91,4261.32,4308.83,44.5100,NaN,8256.686667
2017-08-17 05:00:00,4308.83,4328.69,4291.37,4315.32,23.2300,100.000000,6903.868950
2017-08-17 06:00:00,4315.32,4345.45,4309.37,4324.35,7.2300,100.000000,6655.300552
2017-08-17 07:00:00,4324.35,4349.99,4287.41,4349.99,4.4400,100.000000,6525.238881
2017-08-17 08:00:00,4349.99,4377.85,4333.32,4360.69,0.9499,100.000000,6499.612446
2017-08-17 09:00:00,4360.69,4445.78,4360.00,4444.00,10.7600,100.000000,6253.636697
2017-08-17 10:00:00,4444.00,4470.00,4399.81,4460.00,23.9400,100.000000,5876.961776
2017-08-17 11:00:00,4460.00,4485.39,4427.30,4427.30,27.0200,79.226837,5604.955222
2017-08-17 12:00:00,4427.30,4449.56,4411.00,4411.00,23.0300,71.278344,5440.211761
2017-08-17 13:00:00,4411.00,4459.00,4411.00,4459.00,30.7600,78.210860,5283.606617
2017-08-17 14:00:00,4459.00,4485.39,4435.93,4470.82,51.7400,79.521662,5112.353239
2017-08-17 15:00:00,4470.82,4470.82,4333.42,4352.34,67.7900,48.212614,4956.133870
2017-08-17 16:00:00,4352.34,4354.35,4255.30,4354.18,67.1700,48.551392,4844.668336
2017-08-17 17:00:00,4354.18,4354.84,4235.45,4354.18,59.5400,48.551392,4773.312839
2017-08-17 18:00:00,4289.24,4302.45,4218.68,4256.97,51.2800,34.659160,4719.896343
2017-08-17 19:00:00,4256.97,4335.30,4200.74,4325.23,46.2200,46.282395,4682.824545
2017-08-17 20:00:00,4325.23,4354.84,4258.56,4325.23,48.9600,46.282395,4652.050548
2017-08-17 21:00:00,4346.74,4369.69,4309.23,4333.55,61.7600,47.600043,4622.177619
2017-08-17 22:00:00,4333.55,4359.13,4310.00,4336.80,57.3800,48.135224,4598.918846
2017-08-17 23:00:00,4336.80,4337.38,4280.82,4285.08,81.2900,40.964868,4568.234132
2017-08-18 00:00:00,4285.08,4340.62,4228.76,4286.53,78.7400,41.229190,4542.560574
2017-08-18 01:00:00,4286.53,4286.53,4134.61,4243.59,72.3200,36.077620,4517.866875
2017-08-18 02:00:00,4243.59,4298.64,4234.00,4267.59,54.0700,40.548869,4504.208448
2017-08-18 03:00:00,4267.59,4308.70,4234.00,4292.39,63.4800,44.842324,4490.652743
2017-08-18 04:00:00,4292.39,4292.39,4234.43,4287.92,50.6900,44.222413,4480.633075
2017-08-18 05:00:00,4287.92,4340.62,4250.04,4313.56,64.0000,48.610835,4470.848471
2017-08-18 06:00:00,4313.56,4316.98,4247.75,4279.46,63.9500,43.687831,4461.048314
2017-08-18 07:00:00,4279.46,4304.67,4270.48,4300.25,68.9200,47.198790,4452.111092
2017-08-18 08:00:00,4300.25,4320.71,4259.85,4282.73,73.8300,44.671151,4443.312110
2017-08-18 09:00:00,4282.73,4327.25,4265.33,4304.15,45.6400,48.315457,4438.686020